.board {
	display: inline-flex;
	border: 1px solid black;
	flex-direction: column;
	height: 250px;
	width: 250px;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/*border: 1px solid black;*/
	height: 32%;
}

.spot {
	border-radius: 50%;
	border: 1px solid black;
	width: 32%;
	height: auto;
	background-color: #F9F8F8;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game-pieces {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	height: 250px;
	width: 250px;
	border: 1px solid black; 
	color: white;
	text-align: center;
}

#A, #C {
	background-color: black;
	border: 1px solid black;
}

#B, #D {
	border: 1px solid black;
}

#A {
	height: 50px;
	width: 50px;
	border-radius: 5px;
	margin: 1%;
}

#B {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin: 1%;
}

#C {
	height: 35px;
	width: 35px;
	border-radius: 10px;
	margin: 1%;
}

#D {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	margin: 1%;
}

#box {
	height: 10px;
	width: 10px;
}

.instructions {
	display: inline-flex;
	flex-direction: column;
	width: 200px;
	border: 1px solid black;
	padding: 1%;
	background-color: #F9F8F8;
}

