body {
	background-color: #7E7F9A;
	font-family: 'Josefin Sans', sans-serif;
}

header {
	text-align: center;
	/*border: 1px solid black;*/
}

h1 {
	font-size: 60px;
	font-weight: bold;
	margin: 0 0 20px 0;
	/*border: 1px solid black;*/
}

.button {
	background-color: #EB9486;
	border: 2px solid black;
	width: 100px;
	height: 50px;
	font-weight: bold;
	font-size: 16px;
	vertical-align: middle;
}

/*container div for the board spaces*/
.board {
	display: inline-flex;
	/*border: 1px solid black;*/
	flex-direction: column;
	vertical-align: top;
	height: 750px;
	width: 750px;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/*border: 1px solid black;*/
	height: 12%;
}

#row0 {
	justify-content: flex-start;
}

/*board spaces*/
.spot {
	border-radius: 50%;
	border: 1px solid black;
	width: 12%;
	height: auto;
	background-color: #F9F8F8;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*edge spots*/
#four, #eleven {
	margin-left: 12%;
}

#two, #fourteen {
	margin-left: 24%;
}

#six, #thirteen {
	margin-right: 12%;
}

#three, #fifteen {
	margin-right: 24%;
}

/*the container div for the game pieces*/
.game-pieces {
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	height: 400px;
	width: 400px;
	/*margin-top: 200px;*/
	/*border: 1px solid black; */
	color: white;
	text-align: center;
	vertical-align: top;
}

/*plumb colored pieces*/
#A, #B, #C, #D, #E, #F, #G, #H {
	background-color: #272838;
	border: 1px solid black;
}

/*yellow colored pieces*/
#I, #J, #K, #L, #M, #N, #O, #P {
	background-color: #F3DE8A;
	border: 1px solid black;
}

/*big pieces - square*/
#A, #B, #I, #J {
	height: 60px;
	width: 60px;
	border-radius: 5px;
	margin: 1%;
}

/*big pieces - circle*/
#C, #D, #K, #L {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin: 1%;
}

/*little pieces - square*/
#E, #F, #M, #N {
	height: 40px;
	width: 40px;
	border-radius: 10px;
	margin: 1%;
}

/*little pieces - circle*/
#G, #H, #O, #P {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin: 1%;
}

/*pieces with holes on top*/
#B, #D, #E, #H, #J, #L, #N, #P {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*the 'holes'*/
.inner-circle {
	background-color: #7E7F9A;
	border: 1px solid black;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	margin: 1%;
}

#big {
	height: 40px;
	width: 40px;
}

/*this is an anchor box to control the unruly game piece div*/
/*#box {
	height: 10px;
	width: 10px;
}*/

.instructions {
	display: inline-flex;
	flex-direction: column;
	vertical-align: top;
	width: 200px;
	border: 1px solid black;
	padding: 1%;
	background-color: #F9F8F8;
}